

    .jwplayer.jw-skin-jw8-theme .jw-button-color {
      color: #fff;
    }
	
	.jw-reset, .jw-reset-text {
		line-height: 1.3em !important;
	}

    .jwplayer.jw-skin-jw8-theme.jw-state-idle .jw-controls-backdrop {
      display: none;
    }

    .jwplayer.jw-skin-jw8-theme.jw-state-idle .jw-controls {
      background: transparent;
    }

    .jwplayer.jw-skin-jw8-theme.jw-state-buffering.jw-state-start .jw-preview {
        display: block;
    }


    .jwplayer.jw-skin-jw8-theme.jw-breakpoint-7:not(.jw-flag-audio-player) .jw-controlbar .jw-button-container .jw-icon-inline:not(.jw-text-live) .jw-svg-icon, .jw-breakpoint-7:not(.jw-flag-audio-player) .jw-controlbar .jw-button-container .jw-icon-volume .jw-svg-icon {
      width: 40px;
      height: 24px;
    }


    .jwplayer.jw-skin-jw8-theme.jw-breakpoint-7:not(.jw-flag-audio-player) .jw-controlbar .jw-slider-time {
      padding: 0 20px;
    }

    .jwplayer.jw-skin-jw8-theme.jw-breakpoint-7:not(.jw-flag-audio-player) .jw-controlbar .jw-button-container {
      padding: 0 0 20px;
    }

    .jwplayer.jw-skin-jw8-theme.jw-breakpoint-7 .jw-settings-menu {
      width: auto;
      height: 30%;
    }



    .jwplayer.jw-skin-jw8-theme.jw-breakpoint-7:not(.jw-flag-audio-player) .jw-controlbar .jw-slider-time .jw-slider-container {
      height: 8px;
    }



    .jw-horizontal-volume-container .jw-buffer, .jw-horizontal-volume-container .jw-cue, .jw-horizontal-volume-container .jw-progress, .jw-horizontal-volume-container .jw-rail, .jw-slider-time:not(.jw-chapter-slider-time) .jw-buffer, .jw-slider-time:not(.jw-chapter-slider-time) .jw-cue, .jw-slider-time:not(.jw-chapter-slider-time) .jw-progress, .jw-slider-time:not(.jw-chapter-slider-time) .jw-rail {
      border-radius: 2px;
    }

    .jw-slider-vertical .jw-buffer, .jw-slider-vertical .jw-progress, .jw-slider-vertical .jw-rail {
        border-radius: 2px;
        width: 4px !important;
    }


    .jwplayer.jw-skin-jw8-theme.jw-breakpoint-1 .jw-display .jw-icon, .jw-breakpoint-1 .jw-display .jw-icon {
      width: 64px !important;
      height: 64px !important;
      line-height: 64px;
    }



    .jwplayer.jw-skin-jw8-themejw-breakpoint-7 .jw-settings-menu .jw-settings-topbar:not(.jw-nested-menu-open) .jw-icon-inline {
      height: 48px;
      width: 48px;
    }


    .jwplayer.jw-skin-jw8-theme .jw-controlbar .jw-logo-button {
      position: static;
      margin: 0;
      margin-right: 45px;
      width: 110px;
    }
    .jwplayer.jw-skin-jw8-theme .jw-controlbar .jw-logo-button .jw-button-image {
      width: 110px;
    }




    .jwplayer.jw-skin-jw8-theme .jw-slider-time {
      display: flex;
    }
    .jwplayer.jw-skin-jw8-theme .jw-slider-time .jw-text-countdown {
      display: block;
      height: auto;
      padding-right: 0;
      margin-right: -5px;
      margin-left: 8px;
    }



    .jwplayer.jw-skin-jw8-theme .jw-icon-fullscreen svg,
    .jwplayer.jw-skin-jw8-theme .jw-icon-settings svg,
    .jwplayer.jw-skin-jw8-theme .jw-icon-volume.jw-off svg,
    .jwplayer.jw-skin-jw8-theme .jw-icon-volume.jw-full svg,
    .jwplayer.jw-skin-jw8-theme .jw-icon-volume svg,
    .jwplayer.jw-skin-jw8-theme:not(.jw-state-playing) .jw-icon-playback svg,
    .jwplayer.jw-skin-jw8-theme.jw-state-playing .jw-icon-playback svg,
    .jwplayer.jw-skin-jw8-theme .jw-icon-rewind svg,
    .jwplayer.jw-skin-jw8-theme .jw-display .jw-svg-icon-play,
    .jwplayer.jw-skin-jw8-theme .jw-settings-sharing svg,
    .jwplayer.jw-skin-jw8-theme .jw-icon[button="dd00"] svg,
    .jwplayer.jw-skin-jw8-theme .jw-icon[button="ff00"] svg,
    .jwplayer.jw-skin-jw8-theme .jw-icon[button="ff11"] svg,
    .jwplayer.jw-skin-jw8-theme .jw-icon-cc svg,
    .jwplayer.jw-skin-jw8-theme .jw-settings-audioTracks svg,
    .jwplayer.jw-skin-jw8-theme .jw-settings-captions svg,
    .jwplayer.jw-skin-jw8-theme .jw-settings-quality svg,
    .jwplayer.jw-skin-jw8-theme .jw-settings-close svg,
    .jwplayer.jw-skin-jw8-theme .jw-icon-airplay svg,
    .jwplayer.jw-skin-jw8-theme .jw-icon-pip svg {
      background-repeat: no-repeat;
      background-position: 50%;
      transition: .15s;

    }

    .jwplayer.jw-skin-jw8-theme .jw-text-elapsed,
    .jwplayer.jw-skin-jw8-theme .jw-text-duration,
    .jwplayer.jw-skin-jw8-theme .jw-icon-fullscreen svg path,
    .jwplayer.jw-skin-jw8-theme .jw-icon-settings svg path,
    .jwplayer.jw-skin-jw8-theme .jw-icon-volume.jw-off svg path,
    .jwplayer.jw-skin-jw8-theme .jw-icon-volume.jw-full svg path,
    .jwplayer.jw-skin-jw8-theme .jw-icon-volume svg path,
    .jwplayer.jw-skin-jw8-theme:not(.jw-state-playing) .jw-icon-playback svg path,
    .jwplayer.jw-skin-jw8-theme.jw-state-playing .jw-icon-playback svg path,
    .jwplayer.jw-skin-jw8-theme .jw-icon-rewind,
    .jwplayer.jw-skin-jw8-theme .jw-display .jw-svg-icon-play path,
    .jwplayer.jw-skin-jw8-theme .jw-icon[button="ff00"] svg path,
    .jwplayer.jw-skin-jw8-theme .jw-icon[button="ff11"] svg path,
    .jwplayer.jw-skin-jw8-theme .jw-settings-sharing svg path,
    .jwplayer.jw-skin-jw8-theme .jw-icon[button="dd00"] svg path,
    .jwplayer.jw-skin-jw8-theme .jw-icon-cc svg path,
    .jwplayer.jw-skin-jw8-theme .jw-settings-audioTracks svg path,
    .jwplayer.jw-skin-jw8-theme .jw-settings-captions svg path,
    .jwplayer.jw-skin-jw8-theme .jw-settings-quality svg path,
    .jwplayer.jw-skin-jw8-theme .jw-settings-close svg path,
    .jwplayer.jw-skin-jw8-theme .jw-icon-airplay svg path,
    .jwplayer.jw-skin-jw8-theme .jw-icon-pip svg path{
      display:none!important;
    }



    .jwplayer.jw-skin-jw8-theme .jw-button-image {
      transition: .15s;
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto;

    }





    .jwplayer.jw-skin-jw8-theme .jw-knob {
      transform: translate(-50%,-50%) scale(1);
      background-color: #fff !important;
      margin-bottom: -12px;
    }
    .jwplayer.jw-skin-jw8-theme .jw-progress {
      background: #51E0C0 !important;
    }
    .jwplayer.jw-skin-jw8-theme .jw-slider-vertical .jw-progress {
      background: #51E0C0 !important;
    }


    .jw-icon.jw-tab-focus:focus,
    .jw-slider-time.jw-tab-focus:focus .jw-rail,
    .jw-horizontal-volume-container.jw-tab-focus:focus .jw-rail,
    .jw-slider-time:not(.jw-chapter-slider-time).jw-tab-focus:focus .jw-rail,
    .jw-slider-horizontal.jw-chapter-slider-time.jw-tab-focus:focus .jw-old-rail,
    .jw-icon-tooltip.jw-open .jw-overlay:focus.jw-tab-focus {
      border-color: transparent;
    }

    .jw-icon-settings::after, .jw-icon-volume::after,
    .jwplayer.jw-skin-jw8-theme .jw-controlbar .jw-tooltip,
    .jwplayer.jw-skin-jw8-theme .jw-time-tip::after,
    .jwplayer.jw-skin-jw8-theme .jw-controlbar .jw-tooltip::after,
    .jwplayer.jw-skin-jw8-theme .jw-settings-menu .jw-tooltip::after {
      display: none !important;
    }

    .jwplayer.jw-skin-jw8-theme .jw-time-tip,
    .jwplayer.jw-skin-jw8-theme .jw-time-tip .jw-text,
    .jwplayer.jw-skin-jw8-theme .jw-controlbar .jw-tooltip .jw-text,
    .jwplayer.jw-skin-jw8-theme .jw-settings-menu .jw-tooltip .jw-text {
      background: #000 !important;
      border-radius:0;
      color:#fff;
      font-size: 14px;
      min-height: 0;
      border-radius: 4px;
    }

    .jwplayer.jw-skin-jw8-theme .jw-tooltip  {
      background-color: transparent !important;
    }



    .jwplayer.jw-skin-jw8-theme .jw-settings-submenu .jw-submenu-topbar {
      background-color: transparent;
      box-shadow: none;
    }

    .jwplayer.jw-skin-jw8-theme .jw-settings-menu {
      background-color: rgba(18, 27, 48,.65);
      backdrop-filter: blur(20px);
      border-radius: 6px;
      min-width: 260px;
      height: auto !important;
      font-size: 14px;
    }


    .jwplayer.jw-skin-jw8-theme.jw-breakpoint-7 .jw-settings-menu {
      min-width: 250px;
    }



    .jw-settings-menu .jw-icon.jw-button-color::after {
      width: 32px;
    }

    .jwplayer.jw-skin-jw8-theme .jw-settings-submenu-items .jw-settings-content-item {
      padding: .5rem 1rem;
      margin-bottom: 5px;
      display: block;
      border-radius: 25px;
    }
    .jwplayer.jw-skin-jw8-theme .jw-settings-submenu-items .jw-settings-content-item.jw-settings-item-active {
    background-color: #00B7F1;
    color: #fff;

    }
    .jwplayer.jw-skin-jw8-theme .jw-settings-submenu-items .jw-settings-content-item.jw-settings-item-active:before {
      display: none;
    }


    .jwplayer.jw-skin-jw8-theme .jw-settings-menu .jw-settings-submenu .jw-submenu-topbar {
    margin: -15px -15px 15px;

    }
    .jwplayer.jw-skin-jw8-theme .jw-settings-menu .jw-settings-submenu {
       padding: 15px !important;
    }
    /* .jwplayer.jw-skin-jw8-theme .jw-settings-menu .jw-settings-submenu-captions.jw-settings-submenu-active ~ .jw-settings-submenu-audioTracks {
       display: none !important;
    }

    .jwplayer.jw-skin-jw8-theme .jw-settings-menu .jw-icon.jw-button-color[aria-expanded="true"] ~ .jw-icon.jw-button-color[aria-expanded="true"]:after{
      display: none;
    } */

    .jwplayer.jw-skin-jw8-theme.jw-breakpoint-7 .jw-settings-menu .jw-settings-topbar:not(.jw-nested-menu-open) .jw-icon-inline {
      height: 50px;
      width: 50px;
    }


    .jwplayer.jw-skin-jw8-theme .jw-settings-menu .jw-icon.jw-button-color[aria-expanded="true"] {

    color: #00B7F1;

    }

    .jwplayer.jw-skin-jw8-theme .jw-settings-submenu .jw-submenu-topbar .jw-settings-content-item {
    text-decoration: none;
    }
    .jwplayer.jw-skin-jw8-theme .jw-settings-topbar {
      background-color: rgba(120, 120, 120, .25);
      border-radius: 6px 6px 0 0;
    }



    .jwplayer.jw-skin-jw8-theme .jw-display-icon-container {
    margin: 0;
    }
    .jwplayer.jw-skin-jw8-theme .jw-display-container {
      position: relative;
    }
    .jwplayer.jw-skin-jw8-theme .jw-display-container .jw-display-icon-next {
    display: none;


    }
    .jwplayer.jw-skin-jw8-theme .jw-display-container .jw-display-icon-rewind {
      width: 0;
      height: 0;
      width: 0;
      padding: 0;
    }
    .jwplayer.jw-skin-jw8-theme .jw-display-container .jw-icon[button="ff00"] {
      position: absolute;
      left: 10px;
      top: 5px;
      transform: scale(1.25);
    }
    .jwplayer.jw-skin-jw8-theme .jw-display-container .jw-icon[button="ff11"] {
      position: absolute;
      right: 10px;
      top: 5px;
      transform: scale(1.25);
    }

    .jwplayer.jw-skin-jw8-theme .jw-settings-close {
      width: 22px !important;
      height: 22px !important;
      position: absolute;
      top: -6px;
      right: -6px;
      background-color: #fff;
      border-radius: 50%;
    }
    .jw-settings-topbar.jw-nested-menu-open .jw-svg-icon-close {
      width: 24px !important;
      height: 24px !important;
    }


    .jwplayer.jw-skin-jw8-theme .jw-display-icon-container .jw-icon .jw-svg-icon {
      width: 100% !important;
      height: 100% !important;
    }

    .jwplayer.jw-skin-jw8-theme .jw-display-icon-container .jw-icon  .jw-svg-icon-play {
      background-size: cover;
      transition: none;
    }

    .jwplayer.jw-skin-jw8-theme .jw-display-icon-container .jw-icon {
      border: none;
      background: none;
      box-shadow: none;
      padding: 0;
      width: 88px !important;
      height: 88px !important;
    }





    .jwplayer.jw-skin-jw8-theme .jw-settings-sharing svg {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='19'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M2 17h16v-5h2v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1v-6h2v5Zm8-9H7a5.992 5.992 0 0 0-4.854 2.473A8.003 8.003 0 0 1 10 4V0l8 6-8 6V8Z'/%3E%3C/svg%3E");
  }

    .jwplayer.jw-skin-jw8-theme .jw-icon[button="dd00"] svg {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='19'%3E%3Cpath fill='%2300B7F1' fill-rule='evenodd' d='M5.993 18.84c-3.585-.27-6.268-3.349-5.992-6.875a6.387 6.387 0 0 1 3.052-4.947C3.616 2.7 7.63-.351 12.02.202c3.617.457 6.465 3.258 6.929 6.816 3.053 1.868 3.988 5.817 2.089 8.82a6.527 6.527 0 0 1-5.029 3.002v.019H5.993v-.019Zm6.009-8.848v-3.94H9.999v3.94H6.995l4.006 4.926 4.006-4.926h-3.005Z'/%3E%3C/svg%3E");
    }

    .jwplayer.jw-skin-jw8-theme .jw-icon[button="ff00"] svg {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M15.031 9.984A3.039 3.039 0 0 1 12 13.031a3.039 3.039 0 0 1-3.031-3.047A3.04 3.04 0 0 1 12 6.937a3.04 3.04 0 0 1 3.031 3.047Zm-4.031 0c0 .561.448 1.016 1 1.016s1-.455 1-1.016c0-.561-.448-1.015-1-1.015s-1 .454-1 1.015Zm-3 2.985H6V7.031h2v5.938Zm2 7.035C4.475 20.004-.003 15.525-.003 10c0-.685.069-1.354.2-2.001h2.052A8.003 8.003 0 1 0 10 1.997a7.958 7.958 0 0 0-5.122 1.875l2.115 2.115h-5.99V-.004l2.45 2.45A9.96 9.96 0 0 1 10-.004c5.525 0 10.003 4.479 10.003 10.004 0 5.525-4.478 10.004-10.003 10.004Z'/%3E%3C/svg%3E");
    }

    .jwplayer.jw-skin-jw8-theme .jw-icon[button="ff11"] svg {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M8 7.031v5.938H6V7.031h2Zm.969 2.953A3.04 3.04 0 0 1 12 6.937a3.04 3.04 0 0 1 3.031 3.047A3.039 3.039 0 0 1 12 13.031a3.039 3.039 0 0 1-3.031-3.047Zm4.031 0c0-.561-.448-1.015-1-1.015s-1 .454-1 1.015c0 .561.448 1.016 1 1.016s1-.455 1-1.016Zm6.803-1.985c.131.647.2 1.316.2 2.001 0 5.525-4.478 10.004-10.003 10.004S-.003 15.525-.003 10C-.003 4.475 4.475-.004 10-.004a9.96 9.96 0 0 1 6.547 2.45l2.45-2.45v5.991h-5.99l2.115-2.115A7.958 7.958 0 0 0 10 1.997a8.003 8.003 0 1 0 7.751 6.002h2.052Z'/%3E%3C/svg%3E");
}

    .jwplayer.jw-skin-jw8-theme .jw-icon-settings svg {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='20' height='20' style='enable-background:new 0 0 20 20'%3E%3Cpath d='m19.3 8.1-1.7-.6c-.1-.4-.3-.7-.4-1.1l.8-1.6c.2-.4.1-.8-.2-1.1l-1.4-1.4c-.3-.3-.8-.4-1.2-.2l-1.6.8c-.3-.2-.7-.3-1.1-.4L12 .7c-.1-.4-.6-.7-1-.7H9c-.4 0-.8.3-.9.7l-.6 1.7c-.4.1-.7.3-1.1.5L4.8 2c-.4-.2-.9-.1-1.2.2L2.2 3.6c-.3.3-.4.8-.2 1.2l.8 1.6c-.1.4-.3.7-.4 1.1l-1.7.6c-.4.1-.7.5-.7.9v2c0 .4.3.8.7.9l1.7.6c.1.4.3.7.4 1.1L2 15.2c-.2.4-.1.8.2 1.2l1.4 1.4c.3.3.8.4 1.2.2l1.6-.8c.3.2.7.3 1.1.4l.6 1.7c.1.4.5.7.9.7h2c.4 0 .8-.3.9-.7l.6-1.7c.4-.1.7-.3 1.1-.4l1.6.8c.4.2.8.1 1.1-.2l1.4-1.4c.3-.3.4-.8.2-1.2l-.8-1.6c.2-.3.3-.7.4-1.1l1.7-.5c.4-.1.7-.6.7-1V9c.1-.4-.2-.8-.6-.9zM10 14c-2.2 0-4-1.8-4-4s1.8-4 4-4 4 1.8 4 4-1.8 4-4 4z' style='fill:%23fff'/%3E%3C/svg%3E");
  }
    .jwplayer.jw-skin-jw8-theme .jw-icon-cc.jw-off svg {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='20' height='16' style='enable-background:new 0 0 20 16'%3E%3Cpath d='M18 0H2C.9 0 0 .9 0 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2zM2 8h4v2H2V8zm10 6H2v-2h10v2zm6 0h-4v-2h4v2zm0-4H8V8h10v2z' style='fill:%23fff'/%3E%3C/svg%3E");
    }
    .jwplayer.jw-skin-jw8-theme .jw-icon-cc svg {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='20' height='16' style='enable-background:new 0 0 20 16'%3E%3Cpath d='M18 0H2C.9 0 0 .9 0 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2zM2 8h4v2H2V8zm10 6H2v-2h10v2zm6 0h-4v-2h4v2zm0-4H8V8h10v2z' style='fill:%23fff'/%3E%3C/svg%3E");
  }


    .jwplayer.jw-skin-jw8-theme .jw-svg-icon-pip-on,
    .jwplayer.jw-skin-jw8-theme .jw-svg-icon-pip-off {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='18'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M19 0a1 1 0 0 1 1 1v7h-2V2H2v14h6v2H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h18Zm0 10a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1h-8a1 1 0 0 1-1-1v-6a1 1 0 0 1 1-1h8Zm-1 2h-6v4h6v-4ZM4.707 3.293l2.25 2.25L9 3.5V9H3.5l2.043-2.043-2.25-2.25 1.414-1.414Z'/%3E%3C/svg%3E");
  }

    .jwplayer.jw-skin-jw8-theme .jw-settings-audioTracks svg {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='19'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M1.994 10h3.002a2 2 0 0 1 2.002 2v5a2 2 0 0 1-2.002 2H1.994a2 2 0 0 1-2.001-2v-7C-.007 4.477 4.473 0 10 0c5.527 0 10.007 4.477 10.007 10v7a2 2 0 0 1-2.001 2h-3.002a2 2 0 0 1-2.002-2v-5a2 2 0 0 1 2.002-2h3.002c0-4.418-3.585-8-8.006-8-4.422 0-8.006 3.582-8.006 8Z'/%3E%3C/svg%3E");
    }
    .jwplayer.jw-skin-jw8-theme .jw-settings-captions svg {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='20' height='16' style='enable-background:new 0 0 20 16'%3E%3Cpath d='M18 0H2C.9 0 0 .9 0 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2zM2 8h4v2H2V8zm10 6H2v-2h10v2zm6 0h-4v-2h4v2zm0-4H8V8h10v2z' style='fill:%23fff'/%3E%3C/svg%3E");
    }
    .jwplayer.jw-skin-jw8-theme .jw-settings-quality svg {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='19'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='m2.931-.006 1.414 1.41a7.938 7.938 0 0 0-2.343 5.638c0 2.202.895 4.195 2.343 5.638l-1.413 1.408A9.92 9.92 0 0 1 .003 7.042 9.924 9.924 0 0 1 2.931-.006Zm14.138 0a9.928 9.928 0 0 1 2.928 7.048 9.924 9.924 0 0 1-2.928 7.047l-1.414-1.409a7.936 7.936 0 0 0 2.342-5.638 7.93 7.93 0 0 0-2.342-5.638l1.413-1.409.001-.001ZM5.758 2.813l1.415 1.41a3.97 3.97 0 0 0-1.172 2.819c0 1.101.448 2.098 1.172 2.818l-1.415 1.41a5.95 5.95 0 0 1-1.756-4.228c0-1.652.672-3.147 1.756-4.229Zm8.484 0a5.954 5.954 0 0 1 1.756 4.229 5.953 5.953 0 0 1-1.756 4.228l-1.415-1.41a3.97 3.97 0 0 0 1.172-2.818 3.97 3.97 0 0 0-1.172-2.819l1.415-1.41ZM10 9.035a1.996 1.996 0 0 1-1.999-1.993c0-1.101.895-1.994 1.999-1.994s1.999.893 1.999 1.994c0 1.1-.895 1.993-1.999 1.993Zm-1 1.993h2v7.973H9v-7.973Z'/%3E%3C/svg%3E");
    }

    .jwplayer.jw-skin-jw8-theme .jw-settings-close svg {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='12' height='12' style='enable-background:new 0 0 12 12'%3E%3Cpath d='M11.9 10.1 7.8 6l4.1-4.1c.2-.2.2-.4 0-.6L10.7.1c-.1-.1-.2-.1-.3-.1-.1 0-.2 0-.3.1L6 4.2 1.9.2C1.8 0 1.7 0 1.6 0c-.1 0-.2 0-.3.1L.1 1.3c-.1.2-.1.4 0 .6L4.2 6 .1 10.1c0 .1-.1.2-.1.3 0 .1 0 .2.1.3l1.2 1.2c.1.1.2.1.3.1.1 0 .2 0 .3-.1L6 7.8l4.1 4.1c.1.1.2.1.3.1.1 0 .2 0 .3-.1l1.2-1.2c.1-.1.1-.2.1-.3 0-.1-.1-.2-.1-.3z' style='fill:%231C263E'/%3E%3C/svg%3E");
  }

    .jwplayer.jw-skin-jw8-theme .jw-icon-airplay svg {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='19'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M20-.009H2c-1.1 0-2 .9-2 2v11.998c0 1.1.9 1.999 2 1.999h4v-1.999H2V1.991h18v11.998h-4v1.999h4c1.1 0 2-.899 2-1.999V1.991c0-1.1-.9-2-2-2ZM5 18.988h12l-6-5.999-6 5.999Z'/%3E%3C/svg%3E");
    }

    .jwplayer.jw-skin-jw8-theme .jw-svg-icon-fullscreen-on {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='19'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M18 0h2v6h-2V2h-4V0h4ZM2 0h4v2H2v4H0V0h2Zm16 17v-4h2v6h-6v-2h4ZM2 17h4v2H0v-6h2v4Z'/%3E%3C/svg%3E");
    }
    .jwplayer.jw-skin-jw8-theme .jw-icon-fullscreen.jw-off svg {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='19'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M16 6h-2V0h2v4h4v2h-4ZM4 6H0V4h4V0h2v6H4Zm12 9v4h-2v-6h6v2h-4ZM4 15H0v-2h6v6H4v-4Z'/%3E%3C/svg%3E");
    }

    .jwplayer.jw-skin-jw8-theme .jw-icon-volume.jw-off svg {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='23' height='18'%3E%3Cpath fill='%23fff' d='M11.4.2c-.2-.2-.5-.2-.7-.1L5.1 4.7H1c-.6 0-1 .5-1 1.1v6.4c0 .6.5 1.1 1 1.1h4.1l5.5 4.6c.1.1.3.1.4.1.3 0 .5-.2.5-.5V.5c0-.1 0-.2-.1-.3zM18.9 9l3.5 3.5L21 14l-3.5-3.6-3.5 3.5-1.5-1.4L16.1 9l-3.5-3.5L14 4l3.5 3.6L21 4.1l1.4 1.4z'/%3E%3C/svg%3E");
    }

    .jwplayer.jw-skin-jw8-theme .jw-icon-volume.jw-full svg {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='18'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M5.11 13.257H1.045A1.055 1.055 0 0 1 0 12.192V5.8c0-.589.468-1.066 1.045-1.066H5.11L10.644.119a.516.516 0 0 1 .736.074.543.543 0 0 1 .118.338V17.46a.527.527 0 0 1-.522.533.519.519 0 0 1-.332-.12l-5.533-4.616H5.11Zm14.13 4.405-1.48-1.509a9.65 9.65 0 0 0 3.146-7.157 9.64 9.64 0 0 0-3.454-7.424L18.937.059c2.578 2.225 4.063 5.494 4.06 8.937 0 3.434-1.449 6.522-3.757 8.666Zm-3.704-3.775-1.486-1.515a4.283 4.283 0 0 0 1.63-3.376 4.273 4.273 0 0 0-1.966-3.614l1.505-1.533a6.424 6.424 0 0 1 2.551 5.147 6.426 6.426 0 0 1-2.234 4.891Z'/%3E%3C/svg%3E");
      }
    .jwplayer.jw-skin-jw8-theme .jw-icon-volume svg {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='23' height='18'%3E%3Cpath fill='%23fff' d='M11.4.2c-.2-.2-.5-.2-.7-.1L5.1 4.7H1c-.6 0-1 .5-1 1.1v6.4c0 .6.5 1.1 1 1.1h4.1l5.5 4.6c.1.1.3.1.4.1.3 0 .5-.2.5-.5V.5c0-.1 0-.2-.1-.3zM15.2 3.8l-1.5 1.5c1.2.8 2 2.2 2 3.6 0 1.3-.6 2.6-1.6 3.4l1.5 1.5c1.4-1.2 2.2-3 2.2-4.9 0-1.9-1-3.8-2.6-5.1z'/%3E%3C/svg%3E");
      }


      .jwplayer.jw-skin-jw8-theme.jw-state-playing .jw-icon-playback svg {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='18'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M12 18V0h3v18h-3ZM0 0h3v18H0V0Z'/%3E%3C/svg%3E");
      }

      .jwplayer.jw-skin-jw8-theme:not(.jw-state-playing) .jw-icon-playback svg {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='18'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M13.722 9.495.923 17.893a.609.609 0 0 1-.837-.166.594.594 0 0 1-.102-.329V.603A.6.6 0 0 1 .589.009c.119 0 .235.035.334.1l12.799 8.397a.588.588 0 0 1 0 .989Z'/%3E%3C/svg%3E");
      }

      .jwplayer.jw-skin-jw8-theme .jw-display .jw-svg-icon-play {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88'%3E%3Cpath fill-rule='evenodd' d='M44 0c24.301 0 44 19.699 44 44S68.301 88 44 88 0 68.301 0 44 19.699 0 44 0Z' opacity='.549'/%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M64.388 44.684 34.209 64.763a1.425 1.425 0 0 1-2.212-1.182V23.423a1.422 1.422 0 0 1 2.212-1.182L64.388 42.32a1.418 1.418 0 0 1 0 2.364Z' opacity='.941'/%3E%3C/svg%3E");
      }

      @media(max-width:575px){
        .jw-controlbar .jw-icon[button="ff00"],
        .jw-controlbar .jw-icon[button="ff11"] {
          display: none;
        }

        .jwplayer.jw-skin-jw8-theme .jw-button-container {
          padding-left: 0;
          padding-right: 0;
        }
      }

      .jwplayer.jw-skin-jw8-theme.jw-flag-small-player .jw-settings-menu {
        left: 10px !important;
        top: 10px !important;
        bottom: 10px !important;
        right: 10px !important;
        width: auto !important;
      }


      .jwplayer.jw-skin-jw8-theme .jw-resume-box{
        position: absolute;
  z-index: 10000;
  right: 50%;
  bottom: 10%;
  color: #fff;
  background-color: rgba(18, 27, 48,.65);
  backdrop-filter: blur(20px);
  padding: 16px 16px 18px;
  border-radius: 5px;
  width: 170px;
  margin-right: -85px;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
  animation: .5s fadeInUp;
      }

      @keyframes fadeInUp {
        0% {
          opacity: 0;
          margin-bottom: -20px;
        }
        100% {
          opacity: 1;
          margin-bottom: 0;
        }
      }

      .jwplayer.jw-skin-jw8-theme.jw-breakpoint-1 .jw-resume-box,
      .jwplayer.jw-skin-jw8-theme.jw-breakpoint-2 .jw-resume-box,
      .jwplayer.jw-skin-jw8-theme.jw-breakpoint-3 .jw-resume-box,
      .jwplayer.jw-skin-jw8-theme.jw-flag-small-player .jw-resume-box {
        font-size: 12px;
        right: 20px;
        bottom: 20px;
        margin-right: 0;
        width: 160px;
      }



      .jwplayer.jw-skin-jw8-theme .jw-resume-text {
        margin-bottom: 8px;
        font-weight: bold;
      }
      .jwplayer.jw-skin-jw8-theme .jw-resume-button,
      .jwplayer.jw-skin-jw8-theme .jw-resume-reset {
        display: inline-block;
        padding: 8px 16px;
        border: 1px solid transparent;
        border-radius: 6px;
        cursor: pointer;
        font-weight: bold;
        margin: 0 3px;
      }
        .jwplayer.jw-skin-jw8-theme .jw-resume-button {
          background-color: #00B7F1;
        }
        .jwplayer.jw-skin-jw8-theme .jw-resume-reset {
          border-color: rgba(255,255,255,.25);
        }
